# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AnimeFantasyWorldDemo.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\PlayGround\HoloLensAnimeFantasyWorldDemo\AnimeFantasyWorldDemo\.idea\.idea.AnimeFantasyWorldDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
